* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  border: none;
  
}
body {
  background: #333;
}

#root, #list {
  padding: 20px;
  color: orange
}

button {
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px
}